@import 'src/scss/variables';

.schema-container {
	padding-top: 1rem;

	.schema-editor {
		box-sizing: border-box;
		app-schema-editor {
			flex-grow: 1;
		}
	}

	collapse-actions {
		.btn {
			margin-right: 0.25rem;
			border: 1px solid $primary;
		}
	}
}
