<div class="schema-container flex-column">

	<!-- Schema Editor -->
	<div class="card">
		<div class="collapse-header card-header flex-row align-items-center justify-content-between" (click)="toggleCollapse('editor')">
			Editor
			<i class="fa-solid" [ngClass]="{'fa-chevron-down': editorIsCollapsed, 'fa-chevron-up': !editorIsCollapsed}"></i>
		</div>
		<div id="collapseEditor card-body" class="card-body" [collapse]="editorIsCollapsed">
			<div class="schema-editor flex-row">
				<app-schema-editor [initialSchema]="initialSchema" (dataChanged)="updateCurrentSchema($event)"></app-schema-editor>
			</div>
			<div class="actions flex-row justify-content-end">
				<button class="btn btn-primary card-link" (click)="saveSchema()">Save</button>
				<button class="btn card-link" (click)="revertToOriginalSchema()">Revert to Original</button>
				<button class="btn card-link" (click)="copyToDefinition()">Copy to Definition</button>
			</div>
		</div>
	</div>

	<!-- Definition Table -->
	<div class="card">
		<div class="collapse-header card-header flex-row align-items-center justify-content-between" (click)="toggleCollapse('definition')">
			Definition
			<i class="fa-solid" [ngClass]="{'fa-chevron-down': definitionIsCollapsed, 'fa-chevron-up': !definitionIsCollapsed}"></i>
		</div>
		<div id="collapseDefinition" class="card-body" [collapse]="definitionIsCollapsed">
			<div class="schema-editor flex-row">
				<app-schema-definition [initialDefinition]="initialDefinition" (dataChanged)="updateCurrentDefinition($event)"></app-schema-definition>
			</div>
			<div class="actions flex-row justify-content-end">
				<button class="btn btn-primary card-link" (click)="saveDefinition()">Save</button>
				<button class="btn card-link" (click)="revertToOriginalDefinition()">Revert to Original</button>
			</div>
		</div>
	</div>
</div>
