<div class="schema-container flex-column">

	<!-- Source Editor -->
	<app-collapse-card title="Source Editor" isCollapsed="true">
		<div content class="schema-editor flex-row">
			<app-schema-editor [initialSchema]="sourceSchema" (dataChanged)="updateCurrentSchema($event)"></app-schema-editor>
		</div>
		<div footer class="collapse-actions flex-row justify-content-end">
			<button class="btn btn-primary card-link" (click)="saveSchema()">Save</button>
			<button class="btn card-link" (click)="revertToOriginalSchema()">Revert to Original</button>
			<button class="btn card-link" (click)="copyToDefinition()">Copy to Definition</button>
		</div>
	</app-collapse-card>

	<!-- target Editor -->
	<app-collapse-card title="Target Editor" isCollapsed="true">
		<div content class="schema-editor flex-row">
			<app-schema-editor [initialSchema]="sourceSchema" (dataChanged)="updateCurrentSchema($event)"></app-schema-editor>
		</div>
	</app-collapse-card>

	<!-- Definition Table -->
	<app-collapse-card title="Definition" isCollapsed="true">
		<div content class="schema-editor flex-row">
			<app-schema-definition [initialDefinition]="initialDefinition" (dataChanged)="updateCurrentDefinition($event)"></app-schema-definition>
		</div>
		<div footer class="collapse-actions flex-row justify-content-end">
			<button class="btn btn-primary card-link" (click)="saveDefinition()">Save</button>
			<button class="btn card-link" (click)="revertToOriginalDefinition()">Revert to Original</button>
		</div>
	</app-collapse-card>
</div>
