/**
 * src/scss/misc/_app-colors.scss
 * This file is for creating a map of our application specific colors.
 * Currently this isn't used and should not be in the build as it is
 * experimental and a way to learn how to use colors defined in this manner.
 */

$primary-100: tint-color($app-primary, 80%) !default;
$primary-200: tint-color($app-primary, 60%) !default;
$primary-300: tint-color($app-primary, 40%) !default;
$primary-400: tint-color($app-primary, 20%) !default;
$primary-500: $app-primary !default;
$primary-600: shade-color($app-primary, 20%) !default;
$primary-700: shade-color($app-primary, 40%) !default;
$primary-800: shade-color($app-primary, 60%) !default;
$primary-900: shade-color($app-primary, 80%) !default;

$primaries: (
	'primary-100': $primary-100,
	'primary-200': $primary-200,
	'primary-300': $primary-300,
	'primary-400': $primary-400,
	'primary-500': $primary-500,
	'primary-600': $primary-600,
	'primary-700': $primary-700,
	'primary-800': $primary-800,
	'primary-900': $primary-900
);


