@import 'src/scss/variables';
:host {
	max-height: 100%;
}

.edit-mapping-container {
	height: 100%;

	.action-container {
		padding: 5px 0;
		margin-bottom: 5px;

		.btn {
			margin-right: 0.25rem;
			border: 1px solid $primary;
		}
	}

	.form-container {
		.form-group {
			flex-basis: 0;
			flex-grow: 1;

			&:last-child {
				margin-left: 10px;
			}

			.error-text {
				color: red !important;
			}
		}
	}

	.mapping-container {
		overflow: auto;

		.schema-actions {
			border-bottom: 1px solid #afafaf;
			padding: 5px;

			.btn {
				margin-left: 3px;
			}

			a {
				cursor: pointer;

				&.disabled {
					pointer-events: none;
					cursor: default;
				}
			}
		}

		.list-group {
			.list-group-item {
				padding-right: 3px;
				padding-left: 3px;

				&.has-children {
					&:hover {
						cursor: pointer;
					}
				}

				.mapping-field-title {
					.twistie {
						margin-right: 5px;
					}
					.is-mapped {
						margin-left: 5px;
					}
				}

				.child-item {
					border-width: 0;
					padding-right: 3px;

					.list-group, list-group-item {
						border-width: 0;
					}
				}
			}
		}

		.schema-container {
			overflow: auto;
			border: 1px solid #afafaf;
			flex-grow: 1;
		}

		.source-schema {}

		.target-schema {
			margin-left: 35px;
		}

		.mapping {
			border: 1px solid #afafaf;
			margin-left: 35px;
			flex-basis: 250px;

			.source-mapping {
				margin-bottom: 1rem;
			}

			.target-mapping {}
		}
	}
}
