<div class="edit-mapping-container flex-column">
	<!-- Action bar -->
	<div class="action-container flex-row">
		<button
			class="btn btn-sm btn-primary card-link"
			(click)="saveMapping()">
			Save
		</button>
		<button class="btn btn-sm card-link" (click)="revertChanges()">Revert to Original</button>
	</div>
	<!-- Form for name and description -->
	<div class="form-container flex-row justify-content-between">
		<div class="form-group">
			<label for="sourceSchemaName">Mapping Name</label>
			<input
				[(ngModel)]="mappingName"
				type="text"
				class="form-control"
				id="sourceSchemaName"
				aria-describedby="sourceSchemaNameHelp"
				placeholder="Enter the name of your mapping"
				required
				minlength="4"
				#mappingNameFld = "ngModel">
			<small
				*ngIf="!mappingNameFld.invalid"
				id="mappingNameHelp"
				class="form-text text-muted">
				Be sure to define a useful name.
			</small>
			<small
				*ngIf="mappingNameFld.invalid"
				id="mappingNameHelp"
				class="form-text text-muted error-text">
				Mapping Name is required and must be at least 4 characters in length
			</small>
		</div>
		<div class="form-group">
			<label for="mappingDesc">Source Schema Description</label>
			<textarea
				[(ngModel)]="mappingDesc"
				type="text"
				class="form-control"
				id="mappingDesc"
				aria-describedby="mappingDescHelp"
				placeholder="Enter a description for your schema">
					</textarea>
			<small id="mappingDescHelp" class="form-text text-muted">Define a description for this mapping.</small>
		</div>
	</div>
	<!-- Mapping container for creating the mapping -->
	<div class="mapping-container flex-row justify-content-between">
		<!-- Source Schema container -->
		<div class="source-schema schema-container flex-column">
			<ng-container [ngTemplateOutlet]="schemaContainer" [ngTemplateOutletContext]="{$implicit: 'source'}"></ng-container>
		</div>
		<!-- Target schema container -->
		<div class="target-schema schema-container flex-column">
			<ng-container [ngTemplateOutlet]="schemaContainer" [ngTemplateOutletContext]="{$implicit: 'target'}"></ng-container>
		</div>
		<!-- Mapping details container -->
		<div class="mapping flex-column">
			<div class="schema-actions flex-row justify-content-end align-items-center">
				<button class="btn btn-sm confirm-button" title="Confirm Mapping" (click)="_confirmMapping()"><i class="fa-solid fa-circle-check"></i></button>
				<button class="btn btn-sm" title="Delete Mapping" (click)="_deleteMapping()"><i class="fa-regular fa-trash-can"></i></button>
			</div>
			<div class="source-mapping flex-column">
				<ng-container [ngTemplateOutlet]="mappingField" [ngTemplateOutletContext]="{$implicit: sourceFieldMappings, schemaType: 'source'}"></ng-container>
			</div>
			<div class="target-mapping flex-column">
				<ng-container [ngTemplateOutlet]="mappingField" [ngTemplateOutletContext]="{$implicit: targetFieldMappings, schemaType: 'target'}"></ng-container>
			</div>
		</div>
	</div>
</div>

<!-- #schemaContainer Template for the source and target schemas -->
<ng-template #schemaContainer let-schemaType>
	<div class="schema-actions flex-row">
		<select
			[ngModel]="schemaType === 'source' ? sourceSchemaId : targetSchemaId"
			(ngModelChange)="schemaType === 'source' ? sourceSchemaId = $event : targetSchemaId = $event"
			class="form-select form-select-sm"
			(input)="_onSchemaSelect($event, schemaType)">
			<option [value]="undefined">Select a {{schemaType | titlecase}} Schema</option>
			<option	*ngFor="let schema of schemas" [value]="schema.id">
				<span [class.text-decoration-line-through]="schemaType === 'source' ? schema.id === targetSchemaId : schema.id === sourceSchemaId">{{schema.name}}</span>
			</option>
		</select>
		<a
			[routerLink]="['/schemas', schemaType === 'source' ? sourceSchemaId : targetSchemaId]"
			[class.disabled]="schemaType === 'source' ? !sourceSchemaId : !targetSchemaId"
			target="_blank"
			title="Edit the {{schemaType | titlecase}} schema">
			<button class="btn btn-small" [disabled]="schemaType === 'source' ? !sourceSchemaId : !targetSchemaId">
				<i class="fa-regular fa-pen-to-square"></i>
			</button>
		</a>
	</div>
	<div *ngIf="schemaType === 'source' ? sourceSchemaDoc : targetSchemaDoc" [class.source-json]="schemaType === 'source'" [class.target-json]="schemaType === 'target'">
		<ng-container
			[ngTemplateOutlet]="schemaPropertyList"
			[ngTemplateOutletContext]="{
				$implicit: schemaType === 'source' ? sourceMappingFields : targetMappingFields,
				schemaType: schemaType
			}">
		</ng-container>
	</div>
</ng-template>

<!-- #schemaPropertyList Template used for displaying the nested schema property list -->
<ng-template #schemaPropertyList let-mappingFields let-schemaType="schemaType">
	<ul class="list-group">
		<li
			*ngFor="let field of mappingFields"
			[id]="field.path + '-' + field.fieldType"
			[class.has-children]="field.children?.length"
			class="list-group-item flex-column">
			<div
				class="mapping-field-title flex-row align-items-center"
				(click)="_expandCollapse($event, field, schemaType)">
				<i *ngIf="field.children?.length"
					 [class.fa-caret-right]="field.expanded === false"
					 [class.fa-caret-down]="field.expanded === true"
					 class="fa-solid twistie">
				</i>
				<span>{{field.name}} ({{field.fieldType | uppercase}})</span>
				<i *ngIf="!field.children?.length && field.mapped" class="fa-solid fa-dot-circle is-mapped"></i>
				<span *ngIf="!field.children?.length" class="spacer"></span>
				<button *ngIf="!field.children?.length" class="btn btn-sm" title="Show Field Mapping" (click)="_showMapping(field, schemaType)">
					<i class="fa-solid fa-arrow-right-arrow-left"></i>
				</button>
				<button *ngIf="!field.children?.length" class="btn btn-sm" title="Create Field Mapping" (click)="_createFieldMapping(field, schemaType)">
					<i class="fa-solid fa-share-nodes"></i>
				</button>
			</div>
			<div
				*ngIf="field.children?.length"
				class="list-group-item child-item"
				[class.collapse]="field.expanded === false"
				[id]="field.path">
				<!-- Pass along the children to the schemaPropertyList template as its mappingFields -->
				<ng-container [ngTemplateOutlet]="schemaPropertyList" [ngTemplateOutletContext]="{$implicit: field.children, schemaType: schemaType}"></ng-container>
			</div>
		</li>
	</ul>
</ng-template>

<!-- #mappingField Template used for the mapping panel's source and target field lists -->
<ng-template #mappingField let-fields let-schemaType="schemaType">
	<div *ngIf="fields?.length" class="card">
		<div class="card-body">
			<h4 class="card-title">{{schemaType | titlecase}}s</h4>
			<ul class="list-group">
				<li *ngFor="let field of fields; let idx = index" class="list-group-item flex-row align-items-center justify-content-between">
					<span [title]="field.path">{{field.name}}</span>
					<span class="spacer"></span>
					<div class="mapping-field-actions">
						<button class="btn btn-sm" title="Add Transformation">
							<i class="fa-solid fa-bolt-lightning"></i>
						</button>
						<button class="btn btn-sm" title="Delete Field" (click)="_deleteFieldMapping(idx, schemaType)">
							<i class="fa-regular fa-trash-can"></i>
						</button>
					</div>
				</li>
			</ul>
		</div>
		<div class="card-body">
			<select class="form-select form-select-sm" (input)="_addFieldMapping($event, schemaType)">
				<option [value]="undefined">Select a {{schemaType}} field to add to the mapping</option>
				<ng-container *ngFor="let field of (schemaType === 'source' ? sourceSchemaDoc.definition : targetSchemaDoc.definition)">
					<option *ngIf="!_definitionHasKids(field, schemaType)"  [value]="field.path">
						{{field.path}}
					</option>
				</ng-container>
			</select>
		</div>
	</div>
</ng-template>
