<ag-grid-angular
	[class]="theme"
	[columnDefs]="columnDefs"
	[context]="context"
	[gridOptions]="gridOptions"
	[getRowClass]="getRowClass.bind(this)"
	[rowData]="rowData"
	[rowSelection]="rowSelection"
	[style]="style"
	[suppressRowClickSelection]="suppressRowClickSelection"
	[tabToNextCell]="tabToNextCell"
	(cellEditingStopped)="this.cellEditingStoppedEvt.emit($event)"
	(cellEditingStarted)="this.cellEditingStartedEvt.emit($event)"
	(cellClicked)="this.cellClickedEvt.emit($event)"
	(cellMouseOut)="this.cellMouseOutEvt.emit($event)"
	(cellMouseOver)="this.cellMouseOverEvt.emit($event)"
	(cellValueChanged)="this.cellValueChangedEvt.emit($event)"
	(filterChanged)="this.filterChangedEvt.emit($event)"
	(filterModified)="this.filterModifiedEvt.emit($event)"
	(gridReady)="onGridReady($event)"
	(pasteStart)="this.pasteStartEvt.emit($event)"
	(pasteEnd)="this.pasteEndEvt.emit($event)"
	(rowValueChanged)="this.rowValueChangedEvt.emit($event)"
	(rowDataUpdated)="this.rowDataUpdatedEvt.emit($event)"
	(rowSelected)="this.rowSelectedEvt.emit($event)"
	(selectionChanged)="this.selectionChanged.emit($event)"
	(sortChanged)="this.sortChangedEvt.emit($event)">
</ag-grid-angular>
